/* Header Style */

@font-face {
    font-family: "Aerologica";
    src: url("/Users/danielperez/Library/Fonts/AerologicaRegular-K7day.ttf"), format("truetype")
}

body{
    transform-origin: top center;
    transform: scale(1.5);
    overflow: hidden;
    background-color: rebeccapurple;
    
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.heading div{
    font-family: Aerologica;
    font-size: 20px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}
.main{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.grid{
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background: #f0f0f0;
    background-image: linear-gradient(#d0d0d0, #f0f0f0);
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
    
}

.grid div{
    height: 20px;
    width: 20px;
    
    
}
button{
    margin-bottom: 5px;
}

.tetromino{

    background-color:blue;

}

